@import "tailwindcss";

@config "../tailwind.config.js";

.date-picker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: transparent;
  background: transparent;
}

.selection-box {
  position: absolute;
  border: 2px solid #0099ff;
  background-color: rgba(0, 153, 255, 0.2);
  pointer-events: none;
}

.dark .dark-mode-svg {
  filter: brightness(0) invert(1);
}
